[submodule "vendor/niobium-fhetch"]
	path = vendor/niobium-fhetch
	url = https://github.com/NiobiumInc/niobium-fhetch.git
[submodule "vendor/niobium-haze"]
	path = vendor/niobium-haze
	url = https://github.com/NiobiumInc/niobium-haze.git
[submodule ".claude/skills/fhe-application-design"]
	path = .claude/skills/fhe-application-design
	url = https://github.com/NiobiumInc/fhe-application-design.git
	branch = main
[submodule "fhe-application-design-agents"]
	path = .agents/skills/fhe-application-design
	url = https://github.com/NiobiumInc/fhe-application-design.git
	branch = main
